{#
/**
 * @file
 * Default theme implementation to present a borg entity.
 *
 * This template is used when viewing a registered borg's page,
 * e.g., /admin/content/borg)/123. 123 being the borg's ID.
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 *   print a subset such as 'content.title'.
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_borg()
 */
#}

<div{{ attributes.addClass('container') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>

{#{% if content %}#}
{#  <div{{ attributes.addClass('container') }}>#}
{#    {{ label }}#}
{#    <a href="{{ url }}">#}
{#        {{ content.avatar }}#}
{#    </a>#}
{#    {{ content.feedback }}#}
{#  </div>#}
{#{% endif %}#}
